body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    position: relative;
}

#video {
    width: 640px; /* Set the width according to your video size */
    height: 360px; /* Set the height according to your video size */
}

#enterXRButton {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
